body
{
   background: url('../images/airBalloons.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
}
header{
    width: 70%;
    margin: 10px auto;
}


#logoImage{
    width: 200px;
    height: 200px;
    float: left;
}
.companyName {
   text-align: center;
    position: relative;
    margin-top: 0px;
    border: 0px;
    padding-top: 30px;
    font-size: 80px;
    padding-bottom: 10px;
}

span {
    color: red;
}
h1{
    text-align: center;
}
.center_div {
    width=70%;
    margin-left: 15%;
    margin-right: 15%;
   background-color: rgba(76,175,80,0.7); 
    align-content: center;
}
.form_div{
    width: 500px;
    margin: auto auto;
}
td {
    padding: 3px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 25px;
}

th {
    padding: 5px;
    width: 200px;
    font-size: 25px;
    color: #6A9A1F;
    text-align: center;
}

input {
    border: 2px;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    padding: 3px;
    background: #778899;
}

input[type=submit] {
    border: 2px;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background:#ff5e00;
    margin: 3px;
    color: #232B2B;
    font-size: 22px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: antiquewhite;
    font-family: 'Nunito', sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: antiquewhite;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: antiquewhite;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: antiquewhite;
}

