body
{
   background: #232B2F;
    font-family: 'PT Sans', sans-serif;
     color: #4fc5b2;
}
header{
    width: 70%;
    height: 200px;
    margin: 0px auto;
}

#logoImage{
    width: 200px;
    float: left;
    height: 200px;
}
.companyName {
   text-align: center;
    position: relative;
    margin-top: 0px;
    color: #4fc5b2;
    border: 0px;
    padding-top: 30px;
    font-size: 70px;
}
section{
   
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    align-content: center
}
video{
    margin-top: 0px;
    border: 2px;
    width: 640px;
    margin-bottom: 0px;
}
a{
    font-size: 30px;
}
p{
    font-size: 30px;
   text-align: center;
    margin: 0px 0px 0px 0px;
    
}
 